@import "less/lib/bootstrap/variables";
@import "less/variables";
body {
  margin: 0;
  padding: 0;
  font-family: @font-family-sans-serif;
}
table {
  overflow-x: scroll;
}
[class*="status-"] {
  display: inline-block;
  border: 2px black solid;
  padding: 3px;
}
h4,
#status-colors {
  margin: 1em 0;
  padding: 0 15px;
  li {
    margin-bottom: 0.3em;
  }
}
.status-green {
  background-color: @status-green;
}
.status-yellow {
  background-color: @status-yellow;
}
.status-red {
  background-color: @status-red;
}
.status-evacuated {
  background-color: @status-evacuated;
}

footer {
  padding: 1em 0.7em;

  color: #444444;

  a {
    color: #444444;
    &:hover {
      color: @primary-control-hover;
    }
  }
}
.tablesaw-modeswitch {
  padding-left: .7em;
}
