<table class="tablesaw" data-tablesaw-mode-switch data-tablesaw-mode-exclude="stack" data-tablesaw-mode="columntoggle" data-tablesaw-sortable data-tablesaw-minimap>
	<thead>
		<tr>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist">Location name</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Status</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Updated</th>
			<th scope="col" data-tablesaw-priority="3">Phone</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Operator</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="0">Address</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">City</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">State</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="0">ZIP</th>
			<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="0"><abbr title="Medicare Provider Number">MPN</abbr></th>
		</tr>
	</thead>
	<tbody>
		{% for row in COPY.locations if row.id %}
			<tr>
				<td>
					<a href="{{ S3_BASE_URL }}/location/{{ row.id }}/">{{ row.location_name }}</a>
				</td>
				<td><span class="status-{{ row.id|status_color }}">{{ row.id|status_color }}</span></td><!-- need a way of getting the actual status, by passing the row ID to a function -->
				<td>{{ row.id|status_updated }}</td><!-- same for this, but for the last-updated thing -->
				<td>{{ row.phone }}</td>
				<td>{{ row.location_owner|title }}</td>
				<td>{{ row.address|title }}</td>
				<td>{{ row.city|title }}</td>
				<td>{{ row.state }}</td>
				<td>{{ row.zip|format_zip }}</td>
				<td>{{ row.mpn }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
