{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ S3_BASE_URL }}">{{ COPY.content.project_name|smarty }}</a></h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-md-12">
                <h1>{{ COPY.content.embedding_title }}</h1>
                {{ COPY.content.embedding_instructions }}
                <p>If you can paste &lt;div&gt; and &lt;script&gt; tags into your website or your CMS, use this code:</p>
                <pre>{% filter forceescape %}{% include '_table-iframe.html' %}{% endfilter %}</pre>
                <p>If you are using WordPress and the <a href="https://wordpress.org/plugins/pym-shortcode/">Pym Shortcode</a> plugin, use this code:</p>
                <pre>[pym src="http://f.benlk.com/harvey-senior-homes/table.html" id="harvey-table"]</pre>
                <p>If your CMS accepts neither of those, talk to your CMS team.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
