{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <p class="byline">by <span>{{ COPY.content.byline }}</span></p>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-md-8">

                <div id="story-meta">
                    <p class="dateblock">
                        <span class="date">{{ COPY.content.pubdate }}</span>
                        <span class="time"> {{ COPY.content.pubtime }}</span>
                    </p>
                </div>

                {% include '_table-iframe.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
